<div class="container mt-5">
  <%= link_to "Add User", user_new_path, class: "btn btn-info" %>
</div>

<section>
  <div class="container">
    <h2>All</h2>
    <%= render "users", users: @users %>
  </div>
</section>

<section>
  <div class="container">
    <h2>Admins</h2>
    <%= render "users", users: @admins %>
  </div>
</section>

<section>
  <div class="container">
    <h2>Brokers</h2>
    <%= render "users", users: @brokers %>
  </div>
</section>

<section>
    <div class="container">
      <h2>Buyers</h2>
      <%= render "users", users: @buyers %>
    </div>
  </section>
